<div class="container">
  <div class="left">
    <h2>Sign In</h2>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <input
        type="email"
        placeholder="Email"
        [(ngModel)]="email"
        name="email"
        required
        email
      />
      <input
        type="password"
        placeholder="Password"
        [(ngModel)]="password"
        name="password"
        required
      />
      <button (click)="navigate.emit('password-recovery')">
            Forgot Password</button>
      <button type="submit" [disabled]="!loginForm.valid">LOGIN</button>
      <P>_________________OR_________________</P>
      <button type="submit" [disabled]="!loginForm.valid">
            LOGIN WITH GOOGLE</button>
    </form>
  </div>
  <div class="right">
    <h2>Welcome Back!</h2>
    <button (click)="navigate.emit('signup')">Sign Up</button>
  </div>
</div>