<div class="about-us">
    <h1>About Us</h1>
    <p>Lintrix Group is dedicated to creating innovative solutions for modern 
            challenges. Our latest project, GradeMate, is a cutting-edge 
            Angular application designed to enhance educational 
            experiences.</p>
    <div class="team-section">
      <h2>Our Team</h2>
      <div class="team-member">
        <img src="assets/alima.jpg" alt="Project Manager">
        <h3>Kaila Marie Alima</h3>
        <p>Project Manager</p>
      </div>
      <div class="team-member">
        <img src="assets/ed.jpg" alt="Technical Lead">
        <h3>Ed Judah Mingo</h3>
        <p>Technical Lead</p>
      </div>
      <div class="team-member">
        <img src="assets/diana.jpg" alt="Quality Assurance/Tester">
        <h3>Diana Rose Fidel</h3>
        <p>Quality Assurance/Tester</p>
      </div>
      <div class="team-member">
        <img src="assets/team-member2.jpg" alt="UI/UX Designer">
        <h3>Kazel Villamarzo</h3>
        <p>UI/UX Designer</p>
      </div>
      <div class="team-member">
        <img src="assets/sim.jpg" alt="UI/UX Designer">
        <h3>Simounne Cruz</h3>
        <p>UI/UX Designer</p>
      </div>
    </div>
</div>
