body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #95bafe, #84bbae);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.form-container h2 {
  color: black;
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.form-column {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.form-column label {
  margin: 0; 
  text-align: left;
  color: black;
  display: none;
}

.form-column input, 
.form-column select {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 25px; 
  background-color: lightgrey;
}

.form-footer {
  margin-top: 20px;
}

.form-footer button {
  background-color: #0097B2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.form-footer button:hover {
  background-color: #0097B2;
}