<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap">
</head>
<body>
  <div class="container">
    <div class="right">
      <h2>Welcome Back!</h2>
      <button (click)="navigateToLogin()">Sign In</button>
    </div>
    <div class="left">
      <h2>Sign Up</h2>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <input type="text" placeholder="Firstname" formControlName="first_name" />
        <input type="text" placeholder="Lastname" formControlName="last_name" />
        <input type="text" placeholder="Username" formControlName="username" />
        <input type="email" placeholder="Email" formControlName="email" />
        <input type="date" placeholder="Birthday" formControlName="birthday" />
        <input type="text" placeholder="Sex" formControlName="sex" />
        <input type="password" placeholder="Password" formControlName="password" />
        <input type="password" placeholder="Confirm Password" formControlName="confirmPassword" />
        <input type="text" placeholder="University" formControlName="university" />
        <button type="submit" [disabled]="signupForm.invalid">Submit</button>
      </form>
    </div>
  </div>  
</body>
</html>