/* app.component.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #cdffd8 0%, #95bafe 100%), 
      url('/assets/layered.svg');
  background-size: cover;
  background-blend-mode: overlay;
  animation: gradientShift 10s infinite alternate;
}

@keyframes gradientShift {
  0% {
    background: linear-gradient(135deg, #cdffd8 0%, #95bafe 100%), 
        url('/assets/layered.svg');
  }
  50% {
    background: linear-gradient(135deg, #95bafe 0%, #cdffd8 100%), 
        url('/assets/layered.svg');
  }
  100% {
    background: linear-gradient(135deg, #cdffd8 0%, #95bafe 100%), 
        url('/assets/layered.svg');
  }
}

.container {
  display: flex;
  width: 800px;
  height: 500px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

.container h1 {
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #0097B2;
  color: white;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #007BFF;
  transform: translateY(-2px);
}

button[disabled] {
  background-color: #ccc;
}

.left {
  width: 50%;
  background: rgba(255, 255, 255, 0.8);
  padding: 40px;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

.right {
  width: 50%;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(to bottom right, rgba(17, 99, 239, 0.8), 
      rgba(11, 195, 152, 0.8)), url('/assets/layered.svg');
  background-size: cover;
  background-blend-mode: overlay;
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(10px);
}

.left h2 {
  margin-top: 50px;
  margin-bottom: 30px;
  color: #000000;
  text-align: center;
}

.left input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-family: 'Poppins', sans-serif;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.left input[type="text"]:focus {
  border-color: #1163ef;
  box-shadow: 0 0 5px rgba(17, 99, 239, 0.5);
}

.left .forgot-password {
  display: block;
  text-align: right;
  color: #000000;
  text-decoration: underline;
  margin: 10px 0;
}

.left button {
  width: 100%;
  padding: 13px;
  border: none;
  border-radius: 20px;
  background: #007BFF;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.left button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.right h2 {
  margin: 0;
  margin-bottom: 30px;
}

.right button {
  width: 30%;
  padding: 13px;
  border: 2px solid #FFFFFF;
  border-radius: 20px;
  background: none;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.right button:hover {
  background-color: #FFFFFF;
  color: #1163ef;
}
